#searchDropDown { 
    background-color: white;
    color: black;
        
}
.imagesize{
    width: 80px;
    height: 80px;
}
.dropdown{
    color:black;
}


#runtimeDiv{
    display: none;
}

#runtimeHover:hover + #runtimeDiv{
    display: block;
}

#timeMoldal{
    transition-duration: 5s;
}

.wFont{
    color : white;
}

.starcolor{
    color:orange;
}

.blackB{
    background-color: #222;
}

#memcachedToggle{
    opacity: 0.1;
}
#memcachedToggle:hover{
    opacity: 1.0;
}

#reviewBtn{
    background-color: #006dcc;
    color: white;
}