


<section style="background-image: url(img/a6.jpg)" class="bg-primary" id="one" ng-controller="homeController">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center">
                <h1 class="margin-top-0 text-primary cursive">Where are you now?</h1>
                <br>
                <form class="form-group form-group-lg">
                    <div class="dropdown">
                        <input ng-model="$root.searchCities" id="searchDropDown" data-toggle="dropdown" type="text" class="form-control input-lg text-dark" placeholder="Cities..." ng-click="openCityDropDown()" />
                        <ul class="dropdown-menu col-md-12 list-height" role="menu" ng-show="citiesList">
                            <li role="menuitem" class="listOfCities" ng-repeat="city in cities | filter: searchCities" ng-click="setSearchBox(city)">{{city}}</li>
                        </ul>
                    </div>
                    <br/>
                    <button href="#three" class="btn text-primary btn-default btn-xl" ng-click="onClickSearch()"> <h4 class="text-primary">Show!</h4> </button>
                    
<toggle ng-model="isMemcachedCheckBox.isMemcached" ng-change="changed()"></toggle>
                </form>
            </div>
        </div>
    </div>
</section>